<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
 
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <style>body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  
  }
  
  html,body{
    width: 100%;
    height: 100%;
  }
  #background{
    width: 100%;
    height: 100%;
    /* background-color: #f1f1f1; */
    background-image: url('/images/bg.jpg');
    background-position: center ;
    /* background-position-y: 20px; */
    /* background-size: 130%; */
    background-size: cover;
    background-repeat: no-repeat;
  }
  #overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
  }
  nav{
    width: 100%;
    height: 15vh;
    margin: 0 auto;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
  }
  #logo{
  color: white;
  font-weight: 600;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  padding: 10px 15px;
  border-image-source: linear-gradient(to left, #c832db, #ec3a3a);
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  
  }
  #links{
    width: 500px;
    display: flex;
    justify-content: space-around;
    color: white;
  }
  #content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
  }
  
  #content h3{
    font-weight: 400;
    font-size: 45px;
  }
  .link{
    cursor: pointer;
    /* border: 1px solid white; */
    /* padding: 0 30px;  */
  }
  .link:hover{
    color: #971d42;
    text-decoration: none;
    letter-spacing: 3px;
    transition: 0.3s ease-in;
  }
  a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in;
  
  }
  
  @media (max-width:768px){
    #links{
      display: none;
    }
    #hemberger{
      display: inline-block;
      color: white;
      cursor: pointer;
      font-size: 35px;
  
    }
    #navpage{
      width: 100%;
      height: 100%;
      background-color: black;
      color: white;
      position: absolute;
      z-index:99;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-100%);
      transition: 0.3s ease-in-out;
    }
    #mobilelinks{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
    }
    #mobilelinks a{
      display: inline-block;
      margin: 30px 0;
    }
    #close{
      font-size: 35px;
      color: white;
      position: absolute;
      right: 10%;
      top: 6%;
      cursor: pointer;
    }
    h1{
      font-size: 100px;
    }
  }
  @media (min-width:768px){
    #hemberger{
      color: white;
      display: none;
    }
    #navpage{
      display: none;
    }
    #content h1{
      font-size: 170px;
      font-weight: 600;
    }
  }
  
  </style>

  <style>
  #header{
    width: 100%;
    height: 60vh;
    background-image: url('/images/abt.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    position: relative;
    /* background-color: yellow; */
}
h1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 45px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}
#about{
    width: 100%;
    height: 80vh;
    display: flex;
    padding: 5% 7%;

}
#aboutContent{
    width: 50%;
    height: 100%;
    padding-right: 50px;
    /* background-color: yellow; */
}
#aboutImage{
    width: 50%;
    height: 100%;
    background-image: url('/images/singer.jpg');
    background-size: cover;
    background-position: center;
}
h2{
    font-weight: 700;
    font-size: 45px;
}
h2 span{
    font-weight: 400;
}
p{
    font-family: 'Montserrat';
    color: grey;
    margin-top: 40px;
}
#rated{
    color:#AF2727 ;

}

button{
    padding: 18px 50px;
    background-color: #AF2727;
    color:white;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}
</style>

<style>
  #gallery{
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  padding: 3% 8%;
  justify-content: space-between;
}
.card{
  width: 400px;
  min-height: 350px;
  background-color: yellow;
  margin: 30px 0;
  background-image: url('/images/singer.jpg');
  background-position: center;
  background-size: cover;
}

.card:nth-child(1){
  background-image: url('/images/1.jpg');
}
.card:nth-child(2){
  background-image: url('/images/2.jpg');
}
.card:nth-child(3){
  background-image: url('/images/3.jpg');
}
.card:nth-child(4){
  background-image: url('/images/4.jpg');
}
.card:nth-child(5){
  background-image: url('/images/5.jpg');
}
.card:nth-child(6){
  background-image: url('/images/6.jpg');
}
footer{
  height: 20vh;
  width: 100%;
  background-color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  }
</style>

<style>
  #header{
  width: 100%;
  height: 15vh;
}
#contact{
  height: 85vh;
  width: 100%;
  background-image: url('/images/contact.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  /* background-image: linear-gradient(to bottom,transparent,black); */
}

#contactOverlay{
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom,#020405,#010102f6,#030405ea,#050708f8,#070a0cd0);
  display: flex;
  justify-content: center;
  align-items: center;
}
#form{
  margin-top: 50px;
  width: 420px;
  height: 500px;
  /* border: solid white 1px; */
  /* background-color: yellow; */
  text-align: center;
 color: white;
 font-family: 'montserrat';
 
}
#form form{
  text-align: left;
  margin-top: 40px;
}
#form h2{
  font-weight: 600;
}

input[type="text"],[type="email"],[type="number"]{
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px grey;
  outline: none;
  color: white;
  margin: 20px 0;

}
input[type="submit"]{
  height: 50px;
  width: 100%;
background-color: transparent;
border: solid 1px;
border-image-slice: 8;
border-width: 3px;
color: white;
margin: 30px 0;

letter-spacing: 4px;

border-image-source: linear-gradient(to left, #c832db, #ec3a3a);
}
small{
  color: grey;
  margin-left: 15px;
}
::placeholder{
  color: rgba(255, 255, 255, 0.562);
  font-size: 14px;
}

input[type="submit"]:hover{
border-image-source: linear-gradient(to right, #c832db, #ec3a3a);
font-weight: 500;
cursor: pointer;
}
.end{
  text-align: center;
  color: white;
  font-size: 20px;
}
</style>



  <title>Rated R</title>
</head>
<body>

  <div id="navpage">
    <div id="close"><i class="ri-close-line"></i></div>
   
  </div>
  <div id="background">
    
    <div id="overlay">
      <nav>
      <div id="logo">RATED R</div>
     <span id="hemberger"><i class="ri-menu-2-line"></i></span>
      <div id="links">
        <a class="link" href="/">HOME</a>
        <a class="link" href="/about">ABOUT</a>
        <a class="link" href="/gallery">GALLERY</a>
        <a class="link" href="/contact">CONTACT</a>
        
      </div>
    </nav>
    <div id="content">
      <h1>RATED R</h1>
      <h3>Life is a song, love is the music.</h3>
      
    </div>
   
    </div>
     
      
  </div>
 <script src="/javascripts/script.js"></script>
</body>
</html>